.Forecast {
  padding-bottom: 6px;
}

.Forecast > * {
  margin: 0px;
  padding: 4px 14px;
}

.date {
  padding-top: 10px;
  background-color: #e9e9e9;
  display: flex;
  flex-direction: column;
}

.date .day {
  font-weight: bold;
  margin-bottom: 4px;
}

.image {
  padding-top: 12px;
}

.temperature {
  font-size: 1.2em;
}

.temperature .maximum {
  color: #737373;
}

.temperature .minimum {
  color: #bababa;
}

.precipitation {
  color: #737373;
}
